{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

TODO

{%for list in lists%}
<table>
    <tr>
        <td><a href="{% url 'list' list.id%}">{{list.title}}</a></td>
        <td>{{list.description}}</td>
        <td>{{list.bid.initialbid}}</td>
        <td>{{list.bid.biddatetime}}</td>
        <td>{{list.imgeurl}}</td>
    </tr>
</table>
{%endfor%}



{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'newlist' %}">New List</a>

{% endif %}
{% endblock %}